@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 --font-inter: var(--font-inter);
 --font-radley: var(--font-radley);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  p {
     @apply font-thin text-sm md:text-base
  }

  h1 {
    @apply font-radley text-2xl md:text-3xl font-semibold tracking-wide
  }
  h2 {
    @apply font-radley text-xl md:text-2xl font-semibold tracking-wide
  }

  h3 {
    @apply font-radley text-lg md:text-xl font-semibold tracking-wide
  }


}


